.main {
  margin: auto;
  height: max-content;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  &__title{
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__org-top {
    width: max-content;
    display: flex;
    flex-direction: column;
    &__containcer-logoInfo {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      height: 3rem;
      padding-bottom: 0.9rem;
      &__logo {
        height: 100%;
      }

      &__container-nameDuration {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5px;
        &__name {
          font-size: 16px;
          font-weight: 600;
          color: var(--white);
        }
        &__duration {
          font-size: 11px;
          color: var(--white);
        }
      }
    }

    &_container-xpBranch {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      &__container-branch {
        width: 48px;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 5px;
        flex-direction: column;
        &__point {
          background-color: var(--grey);
          width: 8px;
          height: 8px;
          border-radius: 999px;
        }
        &__line {
          width: 2px;
          background-color: var(--grey);
          height: 80%;
        }
      }
      &__container-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 1.5rem;
        &__charge {
          font-size: 14px;
          font-weight: 700;
          color: var(--white);
        }
        &__container-dateEnd{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          &__date{
            font-size: 11px;
            color: var(--white);
          }
          &__point{
            background-color: gray;
            width: 2px;
            height: 2px;
            border-radius: 999px;
          }

        }

      }
    }
  }
}
