<div class="container-img-portada">
  <div class="container-img-portada__background-img">
    <div class="container-img-portada__background-img__container-img">
      <img
        class="container-img-portada__background-img__container-img__img-portada"
        src="../../../../assets/img/portada/HEADERSEBAS_0000_JS-copia.png"
      />

      <div
        class="container-img-portada__background-img__container-img__container-right-img"
      >
        <img
          class="container-img-portada__background-img__container-img__container-right-img__img-circulos"
          src="../../../../assets/img/portada/CIRCULOS.png"
        />

        <div
          class="container-img-portada__background-img__container-img__container-right-img__title-portada"
        >
          PORT<span class="container-img-portada__background-img__container-img__container-right-img__title-portada__color">FOLIO</span>
        </div>
        <div class="container-img-portada__background-img__container-img__container-right-img__name-Charge"> SEBASTIAN FUENTES TORRES - <span class="container-img-portada__background-img__container-img__container-right-img__name-Charge__charge"> FRONTEND DEVELOPER</span></div>

        <div class="container-img-portada__background-img__container-img__container-right-img__botton-contact" (click)="openModalContact()">
          <div class="container-img-portada__background-img__container-img__container-right-img__botton-contact__text-button">CONTACT</div>
        </div>
      </div>
    </div>
  </div>
</div>
