<!-- <div class="main__title">About me</div> -->
<div class="sobreMy">
  <div class="sobreMy__grid-container">
    <img
      class="sobreMy__grid-container__avatar"
      src="../../../../../assets/img/about-me/avatar.png"
    />
    <img
      class="sobreMy__grid-container__avatar"
      src="../../../../../assets/img/about-me/PC.png"
    />
    <!-- <div class="sobreMy__grid-container__img-grid">
      <div class="sobreMy__grid-container__img-grid__img-perfil1">
        <img class="sobreMy__grid-container__img-grid__img1" src="../../../../../assets/img/about-me/Long.jpeg" />
      </div>
      <div class="sobreMy__grid-container__img-grid__img-perfil2">
        <img class="sobreMy__grid-container__img-grid__img2" src="../../../../../assets/img/about-me/IMGpng.enc" />
      </div>
      <div class="sobreMy__grid-container__img-grid__img-perfil3">
        <img class="sobreMy__grid-container__img-grid__img2" src="../../../../../assets/img/about-me/BIG.jpeg" />
      </div>
    </div> -->
  </div>
  <div class="sobreMy__description-container">
    <div class="title">Sebastian Fuentes Torres</div>
    <p class="sobreMy__description-container__description">
      I am a passionate systems engineer and front-end developer with a strong
      technical background and experience in creating innovative and engaging
      software solutions. With a strong foundation in systems engineering and a
      user-centered approach, I am dedicated to creating exceptional digital
      experiences that harmoniously combine functionality and design.
    </p>

    <div class="sobreMy__container-buttons">
      <div class="sobreMy__container-buttons__viewCV" (click)="openPdfInNewWindow()">View CV</div>
      <div class="sobreMy__container-buttons__downloadCV" (click)="descargarPDF()">
        <mat-icon>picture_as_pdf</mat-icon>
      </div>
    </div>

  </div>
</div>
