<div class="modal">
  <div class="modal__sup">
    <div class="modal__sup__sup-left">
      <mat-icon class="modal__sup__icon">contacts</mat-icon>
      <div class="modal__sup__title">Contact Information</div>
    </div>
    <mat-icon class="modal__sup__iconX" (click)="closeModal()">close</mat-icon>
  </div>
  <div class="modal__body">
    <div class="modal__body__body-left">
      <div class="modal__body__body-left__input">
        <div class="modal__body__body-left__nameInput">Full Name</div>
        <div class="modal__body__body-left__input__text">
          Sebastian Fuentes Torres
        </div>
      </div>
      <div class="modal__body__body-left__input">
        <div class="modal__body__body-left__nameInput">Email</div>
        <div class="modal__body__body-left__input__text">
          <mat-icon>email</mat-icon>
          <a href="mailto:sebas.1910@hotmail.com?subject=Contacto%20&body=Escribe%20aquí%20tu%20mensaje">sebas.1910@hotmail.com</a>
        </div>
      </div>
      <div class="modal__body__body-left__input">
        <div class="modal__body__body-left__nameInput">Phone</div>
        <div class="modal__body__body-left__input__text">+57 3008658910</div>
      </div>
      <div class="modal__body__body-left__input">
        <div class="modal__body__body-left__nameInput">Linkedin</div>

        <div class="modal__body__body-left__input__text">
          <mat-icon>link</mat-icon>
          <a href="https://www.linkedin.com/in/sfuentest/" target="_blank">
            www.linkedin.com/in/sfuentest</a
          >
        </div>
      </div>
      <div class="modal__body__body-left__input">
        <div class="modal__body__body-left__nameInput">Github</div>

        <div class="modal__body__body-left__input__text">
          <mat-icon>link</mat-icon>
          <a href="https://github.com/seft99" target="_blank">
            github.com/seft99</a
          >
        </div>
      </div>
    </div>
    <div class="modal__body__body-right">
      <img
        class="modal__body__body-right__img"
        src="../../../../assets/img/MODAL-CONTACT.png"
      />
    </div>
    <div class="modal__body__body-left__buttonEmailContainer">
      <div class="modal__body__body-left__buttonEmailContainer__text"></div>
    </div>
  </div>
</div>
