a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
a:link {
  color: var(--white);
}
a:visited {
  color: var(--white);
}
a:focus {
  border-bottom: 1px solid;
}
a:hover {
  border-bottom: 1px solid;
}

a:active {
  background: gray;
  color: var(--white);
}
.modal {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  box-sizing: border-box;

  &__sup {
    gap: 1rem;
    width: 100%;
    height: 2rem;
    border-bottom: 2px solid var(--white);
    display: flex;
    user-select: none;
  }
  &__body {
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    &__body-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      &__input {
        height: max-content;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        &__text {
          display: flex;
          flex-direction: row;
          font-size: 14px;
          color: var(--white);
          width: max-content;
          gap: 5px;
        }
      }
      &__nameInput {
        font-size: 12px;
        z-index: 1000;
        bottom: 16px;
        color: var(--white);
        left: 9px;
        width: max-content;
      }
      &__buttonEmailContainer {
        &__text {
          font-size: 10px;
          font-weight: 700;
          color: var(--white);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .modal__body__body-right {
    display: none;
  }
}
